<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akmcinto.cmput301_assign1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReactionTimerActivity"
            android:label="@string/title_activity_reaction_timer" >
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics" >
        </activity>
        <activity
            android:name=".SelectNumberOfPlayersActivity"
            android:label="@string/title_activity_select_number_of_players" >
        </activity>
        <activity
            android:name=".Player2BuzzerActivity"
            android:label="@string/title_activity_player2_buzzer" >
        </activity>
        <activity
            android:name=".Player3BuzzerActivity"
            android:label="@string/title_activity_player3_buzzer" >
        </activity>
        <activity
            android:name=".Player4BuzzerActivity"
            android:label="@string/title_activity_player4_buzzer" >
        </activity>
    </application>

</manifest>
